################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Release
/Debug
/Vulkan_Engine.VC.VC.opendb
/Vulkan_Engine.VC.db
